<div class="row">
  <div class="col-md-2">
    <label>Rxtranswatcher service</label>
  </div>
  <div class="col-md-2">
    <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="IsRxtranswatcher"></p-inputSwitch>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label>RulesEngineWatcher service </label>
  </div>
  <div class="col-md-2">
    <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="IsRulesEngineWatcher"></p-inputSwitch>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label>WorkFlowWatcher service</label>
  </div>
  <div class="col-md-2">
    <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="IsWorkFlowWatcher"></p-inputSwitch>
  </div>
</div>