<div>
   <form [formGroup]="CRCform"> 
    <div >
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="masterCC">Master Carrier Code</label>
            <p-dropdown [options]="cars" formControlName="mcc"  [style]="{'width':'100%'}" filter="true" id="masterCC">              
           </p-dropdown>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="carrierGp">Carrier Group</label>
            <p-dropdown [options]="cars" formControlName="carrierGp"  [style]="{'width':'100%'}" filter="true" id="masterCC">              
            </p-dropdown>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="commonCC">Carrier Group</label>
            <p-dropdown [options]="cars" formControlName="commonCG"  [style]="{'width':'100%'}" filter="true" id="masterCC">              
            </p-dropdown>
          </div>
        </div>
        <div class="col-md-3" style="padding-top: 25px;">
          
          <button pButton type="button" label="Search"></button>
          <button pButton type="button" label="Cancel"></button>
        </div>
      </div>
      <div class="row">
        <p-dataTable [value]="gridData"   [(selection)]="selectedCars3" dataKey="vin" [paginator]="true" [rows]="5"   (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="vin">
           
            <p-column [style]="{'width':'38px'}"  selectionMode="multiple"></p-column>
          <p-column field="vin" header="Vin" >
            
          </p-column>
          <p-column field="year" header="Year"></p-column>
          <p-column field="brand" header="Brand"></p-column>
          <p-column field="color" header="Color"></p-column>
       

          <p-column header="Cities">
            <ng-template let-car="rowData" pTemplate="body">
              <p-multiSelect [options]="cities"  formArrayName="selectedCities"  (onChange)="onChangeofCities($event,car)" optionLabel="name"></p-multiSelect>
            </ng-template>
        </p-column>
        <p-footer>
          <ul>
              <li *ngFor="let car of selectedCars3" style="text-align: left">{{car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color}}  </li>
          </ul>
      </p-footer>
            
      </p-dataTable>
      </div>
    </div>
   </form> 
   {{CRCform.value | json}}
</div>
