<div class="ui-steps">
  <p-steps [model]="items" styleClass="steps-custom" [(activeIndex)]="activeIndex" [readonly]="true" ></p-steps>
  
</div>
<div *ngIf="ShowBasicInfo">
  <h5 class="Sub-heading">Step1:Add Basic Info</h5>
  <div class="row">
    <div form name="myForm">
    <div class="col-md-12">
      <div class="col-md-2"> <label><b>Rule Name:</b></label></div>
      <div class="col-md-4"><input id="input" type="text" size="50" pInputText [(ngModel)]="text" placeholder="Rule Name"></div>
    </div>

    <div class="col-md-12">
      <div class="col-md-2"> <label>Rule Validity From:</label></div>
      <div class="col-md-4  custom-input">
        <p-calendar  [(ngModel)]="startDate" [monthNavigator]="true" name="startDate"  [yearNavigator]="true" yearRange="1800:2090"placeholder="mm-dd-yyyy" ></p-calendar>
      </div>
       <div class="col-md-2"> <label>Rule Validity To:</label></div>
      <div class="col-md-4 custom-input">
        <p-calendar [(ngModel)]="EndDate" [monthNavigator]="true"  [yearNavigator]="true" yearRange="1800:2090" placeholder="mm-dd-yyyy"></p-calendar>
      </div>
      
    </div>
    <div class="col-md-12">
      <div class="col-md-2"><label><b>Rule Code:</b></label></div>
      <div class="col-md-4"><input id="input" type="text" size="50" pInputText [(ngModel)]="text1" placeholder="Rule Code"></div>
      <div class="col-md-2"><label><b>Group Name:</b></label></div>
      <div class="col-md-4"> <input id="input" type="text" size="50" pInputText [(ngModel)]="text2" placeholder="Group Name"></div>
    </div>
    <div class="col-md-12">
       <div class="col-md-2">
      <p-inputSwitch onLabel="Active" offLabel="In-Active" [(ngModel)]="checked2"></p-inputSwitch>
      </div>
    </div>
     <div class="row"></div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" style="float:right" pButton icon="fa-close" (click)="  GotoRulelistPage()" label="Cancel"></button>
        <button type="button" style="float:right" pButton icon="fa fa-chevron-right" (click)="gotoStep1()"label="Next"></button>

      </div>
    </p-footer>
  </div>
</div>
</div>
<div *ngIf="showParameterInfo">
  <div>
    <h5 class="Sub-heading">Step2:Rule Parameter step</h5>
  </div>
  <div>
    <div>
      <p-dropdown [options]="Rules" [(ngModel)]="selectedCar" [style]="{'width':'150px'}" editable="true" placeholder="---Select Parameter---"></p-dropdown>

      <p-dropdown [options]="Rules" [(ngModel)]="selectedCar" [style]="{'width':'150px'}" editable="true" placeholder="--- Select Operator---"></p-dropdown>
      <button type="button" pButton (click)="Add()" label="Add"></button>
    </div>
    <h5 class="Sub-heading">Assign Work flow</h5>
    <div>
      <div>
        <p-dropdown [options]="Rules" [(ngModel)]="selectedCar" [style]="{'width':'150px'}" editable="true" placeholder="---SelectWork flow---"></p-dropdown>
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" style="float:right" pButton icon="fa-close" (click)=" GotoRulelistPage()" label="Delete"></button>
          <button type="button" style="float:right" pButton icon="fa fa-chevron-right" (click)="gotoStep2()" label="Next"></button>
          <button type="button" style="float:right" pButton icon="fa fa-chevron-left" (click)="gotostep0()" label="Previous"></button>
           
        </div>

      </p-footer>
    </div>

  </div>
</div>
<div *ngIf="showPrevieInfo">
  <div row>
    <h5 class="Sub-heading">Step3:Preview & Finish</h5>
    <div class="col-md-4"> <label><b>Rule Name:</b></label>{{text}}
    </div>
    <div class="col-md-4"><label><b>Rule Start Date:</b></label>{{startDate|date}}
    </div>
    <div class="col-md-"><label><b>Rule End Date:</b></label>{{EndDate|date}}
    </div>
    <div class="col-md-4"><label><b>Rule Code:</b></label>{{text1}}
    </div>
    <div class="col-md-4"><label><b>Group:</b></label>{{text2}}
    </div>
    <div class="col-md-4"><label><b>Status:</b></label>{{checked2}}
    </div>
  </div>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button type="button" style="float:right" pButton icon="fa-close" (click)=" GotoRulelistPage()" label="Delete"></button>
    <button type="button" style="float:right" pButton icon="fa-check" (click)="gotoStep()" label="Save"></button>
    <button type="button" style="float:right" pButton icon="fa fa-chevron-left" (click)="gotoStep1()" label="Previous"></button>
  </div>

</div>





